@charset "UTF-8";

body {
	margin: 10px;
	background-color: #F0F9FF;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

table, td {
	border: solid 1px black;
	border-spacing: 0;
	border-collapse: collapse;
}

table {
	width: 90%;
	background-color: #fff;
}

th, td {
	padding: 2px;
}

th {
	text-align: left;
	background-color: #999;
	color: #fff;
}

.subtitle {
	background-color: #DDD;
}

.status {
	width: 150px;
	text-align: right;
}

.Inconclusive {
	background-color: #EEEE00;
}

.Passed {
	background-color: #00AA00;
}

.Failed {
	background-color: #AA0000;
	color: #fff;
}

.Error {
	background-color: #AA6600;
}
